{% extends 'base.html' %}

{% block title %} Chatroom {% endblock %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'chatroom/chatroom.css' %}">

    <style>
        html, body, main {
            height: 100%;
            overflow: hidden;
            background-color: #004A7C;
            font-family: Verdana, Geneva, sans-serif;
            word-wrap: normal;
        }

        .chat-container {
            height: 85%;
            margin-top: 5px
        }

        #room {
            font-weight: bold;
        }

        #chat-form {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #005691;
            margin-left: 20px;
            margin-bottom: 5px;
        }

        .chat-box {
            height: inherit;
            margin-left: 20px;
            margin-right: 20px;
            width: 80%;
            float: left;
            padding: 10px;
            background-color: #E8F1F5;
            border: 1px solid #000000;
            border-radius: 10px;
            overflow: auto;
            font-family: Verdana, Geneva, sans-serif;
        }

        .timestamp {
            font-size: 0.8em;
            color: gray;
        }

        .user-count {
            display: flex;
            flex-direction: column;
            height: inherit;
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px;
            background-color: #E8F1F5;
            border: 1px solid #000000;
            border-radius: 10px;
            overflow: auto;
        }

        .typing-bar {
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
            padding: 5px;
            overflow: auto;
            color: #E8F1F5;
            font-size: 0.8em;
        }

        #message-input {
            background-color: #E8F1F5;
            border: 1px solid #000000;
            border-radius: 10px;
            width: 90%;
            position: fixed;
            left: 0;
            bottom: 0;
            padding: 10px;
            margin-left: 20px;
            margin-bottom: 5px;
        }

        #send-button {
            display: none;
        }
    </style>

    <main>
        <div class="chat-container">
            <div class="chat-box" id="chat-box">
                <!-- Messages will be appended here -->
            </div>
            {# return false here just prevents the page from refreshing, similar to event.preventDefault() #}
            <form id="chat-form" onsubmit="sendChatMessage();return false" autocomplete="off">
                <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off" required/>
                <button type="submit" id="send-button">Send</button>
            </form>

            <div class="user-count" id="user-count">
                <span id="room">Room {{ room }}</span>
                <span>Users Connected:</span>
                <!-- Users will be appended here -->
            </div>
            <div class="typing-bar" id="typing-bar">
                <!-- Typing notifications will be appended here -->
            </div>
        </div>
    </main>


    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // Configure the custom WebSocket with chatroom-specific URL
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // When we get any message from the server, display it in the chatlog
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            let messageDiv = document.createElement('div');
            document.getElementById('chat-box').innerText += (data.message + '\n');
            document.getElementById('chat-box').appendChild(messageDiv);
        };

        // handle socket cutoffs
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        // do this so that messages can be sent rapidly
        document.getElementById('message-input').focus();

        // connects to the message input form, self-explanatory
        function sendChatMessage() {
            const messageInputDom = document.getElementById('message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        }

    </script>

{% endblock %}