{% extends 'base.html' %}

{% block title %} Chatroom {% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'chatroom/chatroom.css' %}">

{#<main>#}
{#    <div class="chat-container">#}
{#        <div class="chat-box" id="chat-box">#}
{#            <!-- Messages will be appended here -->#}
{#        </div>#}
{#        <form id="chat-form">#}
{#            <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off" required />#}
{#            <button type="submit" id="send-button">Send</button>#}
{#        </form>#}
{##}
{#        <div class="user-count" id="user-count">#}
{#            <span id="room">Room {{room}}</span>#}
{#            <span>Users Connected:</span>#}
{#        	<!-- Users will be appended here -->#}
{#        </div>#}
{#        <div class="typing-bar" id="typing-bar">#}
{#            <!-- Typing notifications will be appended here -->#}
{#        </div>#}
{#    </div>#}
{#</main>#}
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
    {# return false here just prevents the page from refreshing, similar to event.preventDefault() #}
    <form onsubmit="sendChatMessage();return false" autocomplete="off">
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
    </form>


{{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // Configure the custom WebSocket with chatroom-specific URL
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        // When we get any message from the server, display it in the chatlog
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        // handle socket cutoffs
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // do this so that messages can be sent rapidly
        document.querySelector('#chat-message-input').focus();

        // connects to the message input form, self-explanatory
        function sendChatMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        }

    </script>

{% endblock %}