{% extends 'base.html' %}


{% block title %} Chatroom {% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'chatroom/choose_chatroom.css' %}">

<div class="box">
    <div class="room add">
    <label for="add">New Room</label>
    <input type="number" name="New Room" id="add"><br/>
    <label for="new-room-password">Password (optional): </label>
    <input type="password" name="new-room-password" id="new-room-password">
    <br/>
    </div>

    <div class="room">
        {% if room in private_rooms %}
        <button onclick="chose(this, true)" value="{{room}}" class="buttons">{{room}}</button>
            <label for="room-password">Password (required): </label>
            <input type="password" name="room-password-{{ room }}" id="room-password-{{ room }}">
        {% else %}
        <button onclick="chose(this, false)" value="{{room}}" class="buttons">{{room}}</button>
        {% endif %}
        <!-- Only show active users if there are any -->
        <div class="active_users">
                <span>Active Users:</span>
                <span>placeholder_user</span>
        </div>
    </div>
</div>

{% endblock %}