{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'monopoly/monopoly.css' %}">


<main>

<div class="console">
    <h3 id="console">Example Text</h3>
</div>
<div class="board" id="">
    <div class="parking" id="21">
        <span>21</span>
    </div>
    <div class="cop" id="31">
        <span>31</span>
    </div>
    <div class="jail" id="11">
        <span>11</span>
    </div>
    <div class="go" id="1">
        <span>1</span>
    </div>

    <div class="center"></div>


</div>

</main>

{% endblock %}